<!DOCTYPE html>
<html>
<head>
<title>АСУ передачи интеллектуальной собственности</title>
    <style>
       .btn {
        display: block;
        background: #8C959D;
        color: #fff;
        padding: 1rem 1.5rem;
        text-decoration: none;
        border-radius: 10px;
        margin:0 auto;
        margin-top: 600px;
        width: 140px;
       }
    </style>
</head>
<body>
    <h2 align="center">Добро пожаловать в систему автоматизации оформления актов на передачу интеллектуальной собственности!</h2>
    <a href="/admin" class="btn">Войти в систему</a>
</body>
</html>
